#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.json

*.crash.log

.idea
.ipynb_checkpoints

terraform/*/generated*.tf
.mypy_cache
