module "{{user_name}}" {
  source = "./modules/user"
  aws_user = "{{aws_user}}"
  user_name = "{{user_name}}"
  password = "{{password}}"
  airflow_port = var.airflow_port
  jupyter_port = var.jupyter_port
  jupyter_visit_port = 8000 + {{user_number}}
  airflow_visit_port = 9000 + {{user_number}}
  aws_alb_main_arn = data.terraform_remote_state.rds.outputs.aws_alb_main_arns[{{load_balancer_number}}]
  aws_alb_listener_fixed_response_arn = data.terraform_remote_state.rds.outputs.aws_alb_listener_fixed_response_arns[{{load_balancer_number}}]
  vpc_id = data.terraform_remote_state.rds.outputs.vpc_id
  subnet_ids = data.terraform_remote_state.rds.outputs.subnet_ids
  load_balancer_security_group_id = data.terraform_remote_state.rds.outputs.load_balancer_security_group_id
  ecs_security_group_id = data.terraform_remote_state.rds.outputs.ecs_security_group_id
  rds_security_group_id = data.terraform_remote_state.rds.outputs.rds_security_group_id
  iam_instance_profile_name = data.terraform_remote_state.rds.outputs.iam_instance_profile_name
  container_instance_security_group_id = data.terraform_remote_state.rds.outputs.container_instance_security_group_id
  aws_region = data.terraform_remote_state.rds.outputs.aws_region
  ecs_cluster = data.terraform_remote_state.rds.outputs.ecs_cluster
  log_group_name = data.terraform_remote_state.rds.outputs.log_group_name
  ecs_task_execution_role_arn = data.terraform_remote_state.rds.outputs.ecs_task_execution_role_arn
  rds_host = data.terraform_remote_state.rds.outputs.rds_host
  rds_port = data.terraform_remote_state.rds.outputs.rds_port
}