module "{{user_name}}" {
  source = "./modules/user"
  
  user_name = "{{user_name}}"
  airflow_port = var.airflow_port
  jupyter_port = var.jupyter_port

  jupyter_visit_port = {{jupyter_visit_port}}
  airflow_visit_port = {{airflow_visit_port}}
  aws_alb_main_id = module.shared.aws_alb_main_id

  vpc_id = module.shared.vpc_id
  subnets= module.shared.subnets
  load_balancer_security_group_id = module.shared.load_balancer_security_group_id
  ecs_security_group_id = module.shared.ecs_security_group_id
  rds_security_group_id = module.shared.rds_security_group_id
  iam_instance_profile_name = module.shared.iam_instance_profile_name
  container_instance_security_group_id = module.shared.container_instance_security_group_id
  aws_region = var.aws_region
  ecs_cluster = module.shared.ecs_cluster
  log_group_name = module.shared.log_group_name
  ecs_task_execution_role_arn = module.shared.ecs_task_execution_role_arn
}
